<Files "download.php">
  AuthType Basic
  AuthName "Restricted Access"
  AuthUserFile /var/www/html/.htpasswd
  Require valid-user
</Files>
<Files "upload.php">
  AuthType Basic
  AuthName "Restricted Access"
  AuthUserFile var/www/html/.htpasswd
  Require valid-user
</Files>